.custom-navbar .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    /* font-weight: bold; */
    padding: 10px 0;
}

.custom-navbar .navbar-brand i {
    margin-right: 10px;
}

.custom-navbar .nav-link {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    /* font-weight: bold; */
    padding: 10px 0;
}

.custom-navbar .nav-link i {
    margin-right: 5px;
    font-size: 1.25rem;
    
}

.custom-navbar .btn-light, .custom-navbar .btn-primary {
    margin-left: 10px;
    padding: 5px 10px;
}

.custom-navbar .navbar-nav {
    align-items: center;
}

.custom-navbar .navbar-nav .nav-item {
    margin-left: 20px;    
    

}


